.home-nav{
    background-color:blueviolet;
    color: blue;
    padding: 10px;
    width: 100%;
}
.home-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.home-nav a{
    color: bisque;
    text-decoration: none;
    padding: 10px;
}
.home-nav a:hover{
    background-color: blue;
}
body{
    margin-right: auto;
    margin-left: auto;
}
.content{
display: grid;
place-items: center;
}
.home-nav{
    display: grid;
    place-items: center;
}
.vaundy iframe {
    width: 300px;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.anime{
    display: flex;
    align-items: center;
    height: 100%;
}
.syumi{
    display: flex;
    align-items: center;
    height: 100%;
}.amami{
    display: flex;
    align-items: center;
    height: 100%;
}
.vaundy{
    display: flex;
    align-items: center;
    height: 100%;
    
}
